html {
  font-family: 'Lexend';
}

button {
  font-family: inherit;
}

a,
a:visited,
a:active {
  color: currentColor;
  text-decoration: none;
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
input {
  font: inherit;
}